@model IEnumerable<MVC2018Knyga.Models.Album>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@using(Html.BeginForm("Search","Home", FormMethod.Get, new {@class= "form-control-static", data_validatable="true" }))
{
    <input type="text" name="q" />
    <input class="btn btn-success" type="submit" value="Search" />
}


<table class="table table-condensed ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumArtUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumArtUrl)
        </td>
        
    </tr>
}

</table>
